
{% extends 'navbar.html' %} {% load static %} 
{% block data_container  %}
<body style="background:white">


<div class="container all_page_top_margin">

 
                            <div class="mt-5  pb-3 shadow px-3">
                                <h3 class="p-3 text-center">About Sarkarilook.com.</h3>
                            
                                <p><Strong>Sarkarilook.com is a website which provides information related to government new vacancies and related notice information .</p>
                                <p>It als provides the details of admit_cards, results, answer keys, and other important information.</p>
                                </strong>
                            </div>




</div>

            
                
</body>
{% endblock %}