 <div class="container-fluid footer">
  <div class="row  mt-0 ">


      <div class="col mt-4 col-lg-3">
          <div class=" container ">
              <ul>
                  <p class=" text-white " href="# "><i class="fas fa-envelope-square"> </i> FaceBook</p>

                  <p class=" text-white " href="# "><i class="fas fa-mobile-alt "> </i> Instagram</p>
                  <p class=" text-white "><i class="fa fa-map-marker-alt"> </i> Tweeter</p>
              </ul>
          </div>

      </div>

      <div class="col mt-4 col-lg-3">
          <div class=" container">
              <ul>
                  <p class=" font-weight-bolder text-white ">UseFull Links</p>
                  <a class="nav-link active text-white " href="# ">About_US</a>
                  <a class="nav-link active text-white " href="# ">What We Do</a>
                  <a class="nav-link active text-white " href="# ">Donate</a>


              </ul>
          </div>

      </div>


      <div class="col mt-4 col-lg-6">
          <div class=" container">
              <ul>
                  <p class=" font-weight-bolder text-white ">Address </p>
                  <p class=" text-white " href="# "><i class="fas fa-envelope-square"> </i> lalqilaeducationtrust786@gmail.com</p>

                  <p class=" text-white " href="# "><i class="fas fa-mobile-alt "> </i> 9858587861,9917556500
                  </p>
                  <p class=" text-white ">
                      <i class="fa fa-map-marker-alt"> </i> Naseemganj, Post Saidnagar, Tehsil Tanda, Pin 244927,(Rampur) U.P</p>


              </ul>
          </div>

      </div>



  </div>   
</div>