{% extends 'navbar.html' %} {% load static %} 
{% block data_container  %}
<body style="background:white">


<div class="container all_page_top_margin">
   <!-- Message -->

   {% if messages%}

   {%for message in messages%}
<div class="container mt-3 message alert alert-{{message.tags}} text-center">{{message}}</div>
   {%endfor%}

   {%endif%}


  
   <!-- Change Password form -->

               <div class="mt-5 change-password-form pb-3 shadow">
                  <h3 class="p-3 text-center">Change Password Form</h3>
                  <form method="POST" class="px-5 pt-4">
                  
                  {% csrf_token%}

                     {{form}}
                  <button type="submit" class="reset_btn"> Reset  </button><br>
                  </form>
                  <br>
               </div>





</div>




                
</body>
{% endblock %}