{% extends 'navbar.html' %} {% load static %} 
{% block data_container  %}
<body style="background:white">

<div class="container all_page_top_margin pb-3 shadow">

        <h5 class="p-3">Change Your Password</h5>
        <form method="POST" class="px-5 " novalidation>
          {% csrf_token %}
                <span style="color:red"><b>
                {{form.old_password.errors}}
                </b></span>
                  <!--Level-->
                <b>
                {{form.old_password.label}}
                </b>

                {{form.old_password}}
                <br><br>

                <span style="color:red"><b>
                {{form.new_password1.errors}}
                </b></span>
                 <!--Level-->
                 <b>
                {{form.new_password1.label}}
                </b>
                
                 {{form.new_password1}} 
                 <br><br>

                <span style="color:red"><b>
                {{form.new_password2.errors}}
                </b></span>
                 <!--Level-->
                <b>
                {{form.new_password2.label}}
                </b>
                 {{form.new_password2}}
                <br><br>

                  <button type="submit" class="btn btn-success"> Change</button><br>
            </form>
      

       
        
</div>


      



                
</body>
{% endblock %}



