{% extends 'navbar.html' %} {% load static %} 
{% block data_container  %}
<body style="background:white">


<div class="container all_page_top_margin">


                <div class="mt-5 change-password-form pb-3 shadow px-3">
                  <h3 class="p-3 text-center text-decoration-underline">Password Reset Completed</h3>
                 
                <p>Your Password has been set sucessfully. You may go ahead and login.</p>
              
                  <p><a class="btn btn-primary " data-toggle="modal" data-target="#exampleModal" href="#" role="button">Login Now</a>
        
                  </p>
               </div>



                
</body>
{% endblock %}