{% extends 'navbar.html' %} {% load static %} 

{% block data_container  %}
<body style="background:white">


 {% for post in posts%}

 <!-- =============================post short info container ======================== -->
<div class="container short_info col-lg-8 col-md-12 col-sm-12">
    
    <p> <strong style="color: red;">Name of the post:</strong><strong> {{post.post_title}} </strong> </p>
    <p><strong style="color: red;">Date Of post:</strong> <strong> 20222</strong></p>
    <p style="color: black;"> <strong style="color: red;">Short Information:</strong> <strong> {{post.post_provider_name}} </strong>  Newly Invited for online Application.The Candidates who are Intrested to fill
         this application form.He/she can fill the form following all the eligibility criteria.
         For more details walk through the notification before apply online. </p>
</div>
 
<!-- ================================post grid information ===================== -->
<div class="container post_info col-lg-8 col-md-12 col-sm-12 overflow-hidden">
            <!-- ==========ads container============ -->
               
            <div class="container text-center">
                <p>google ads</p>

            </div>

            <!-- table block         -->
            <table class="table table-borderless table-responsive ">
                    <div class="row">
                        
                        <div class="text-center col-lg-12 col-md-12">
                        
                            <h3>
                                <strong style="color:magenta;">{{post.post_provider_name}} </strong>  <strong style="color:darkgreen;">{{post.post_title}}</strong> 
                            
                            </h3>
                        </div>
                    
                    </div>



                    <!-- important dates block  -->
                    <div class="row mb-2 border border-danger m-1">
                        <div class="col-lg-6 col-md-6 col-sm-6 mb-1"> 
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="text-center post-box-header">
                                                <p>Important Date</p>
                                            </h5>
                                            {{post.post_dates |safe}}
                                        
                                        </div>
                                    </div>
                        </div>


        
                        <!-- Application block  -->
                        <div class="col-lg-6 col-md-6 col-sm-6"> 
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="text-center post-box-header">
                                            <p>Application Fee</p>
                                        </h5>
                                            
                                            {{post.fee_desc |safe}}  
                                            
                                    </div>
                                </div>
                        </div>
                    </div>



                    <!-- Payment block  -->
                    <div class="row mb-2">
                        <div class="col-lg-6 col-md-6 col-sm-6 mb-1"> 
                            <div class="card">
                            <div class="card-body">
                                <h5 class="text-center post-box-header">
                                    <p>Payment Mode</p>
                                </h5>
                                    <li>Debit card,Credit Card,Net Banking Mode</li>
                                    <li>UPI Etc</li>
                                </div>
                            </div>
                        </div>

                        <!-- Age block  -->
                        <div class="col-lg-6 col-md-6 col-sm-6"> 
                        <div class="card">
                            <div class="card-body">
                                <h5 class="text-center post-box-header">
                                    <p>Age Limit as on </p>
                                </h5>
                                    {{post.age_desc |safe}}
                                </div>
                            </div>
                        </div>
                    

                    
                    </div>


            </table>
            <!-- ------------------------------------------table grid end block----------------------- -->
            
           <!-- Vacancy total post block  -->
            <div class="container text-center"> 
                        <h4>
                            <strong style="color: magenta;">Vacancy Details</strong> <strong style="color: darkgreen;">Total Post:{{post.total_post}}</strong>
        
                        </h4> 
             </div>


            
             <!-- vacancy detail description  -->
           
                {{post.post_detail_desc |safe}}
                    
        
                <!-- ------------------------------notification ads block--------------------------- -->
               <div class="container mt-5">
                        <h4>
                            <strong style="color: darkgray;">Read Notification Before Apply..</strong>
                            
                        </h4> 
                        <p> google ads</p>
                </div>


            <!-- ------------------------------important links------------------------------------- -->
            <div class="container  text-center mt-5">
                <h3>
                    <strong style="color: darkorange;">Important Links</strong> 

                   </h3> 
            </div>
            <!-- ------------------------link table block-------------------------------------------- -->
   
                 {{post.post_important_link |safe}}      

{% endfor %}  

<!-- End For loop  -->

                <!-- ads block  -->
                <div class="container text-center">
                    google ads
                </div>           
<!--==========================================comment started block ==================================================== -->
                <!-- main content selection  -->
                <div class="main-content-selection container-fluid">
                   {% include 'comments.html' %}
                </div>
                <!-- End Comment block  -->
                    <!--comment page ajax page imported-->
           <!--
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
           -->
           


<!--===========================comment ajax  block=========================-->
            <script type="text/javascript">
                // comment button jquery  
                    $(document).on("submit", ".comment_form", function(event) {
                        event.preventDefault();
                       
                        $.ajax({
                        type: "post",
                        url: $(this).attr('action'),
                        data:$(this).serialize(),
                        datatype: "json",
                            success:function(response){
                            $('.main-content-selection').html(response['form']);
                            $('textarea').val('');

                            $('.reply_btn').click(function() {
                            $(this).parent().parent().next('.replies-comment').slideToggle();
                            $('textarea').val('');
                            }); // reply Toggle function end
                            },  // success function end
                            error:function(rs,e){
                                console.log(rs.responseText);
                            }, //error function end

                        }); //ajax block End end
                }); // comment block end 

                 // Reply button jquery  
                    $(document).on("submit", ".reply_form", function(event) {
                        event.preventDefault();
                       
                        $.ajax({
                        type: "post",
                        url: $(this).attr('action'),
                        data:$(this).serialize(),
                        datatype: "json",
                            success:function(response){
                            $('.main-content-selection').html(response['form']);
                            $('textarea').val('');

                            $('.reply_btn').click(function() {
                            $(this).parent().parent().next('.replies-comment').slideToggle();
                            $('textarea').val('');
                            }); // reply Toggle function end
                            },  // success function end
                            error:function(rs,e){
                                console.log(rs.responseText);
                            }, //error function end

                        }); //ajax block End end
                });

            </script>

             

     
</div> <!--End of main container block-->

 <script>
        // reply button toggle jquery 
        $('.reply_btn').click(function() {
            $(this).parent().parent().next('.replies-comment').slideToggle()
        });

    //login before comment button     
    $("#btn1").click(function(){
     $(".login_alert").slideToggle();
    });

                
    </script>







</body>



{% endblock %}


